pre-commit
black
isort
pytest
pytest-sugar
python-dateutil
django
djangorestframework
pyowm
python-dotenv
redis
django-redis
psycopg2
docker
docker-compose
celery
celery-beat
django-celery-beat
django-celery-results
